.container {
  width: 500px; height: 600px;
  margin: 80px auto;
  border-radius: 10px;
  background-color: #f2f2f2;
  text-align: center;
  padding: 50px;
}
label, p {
  font-size: 14px;
  font-weight: bolder;
  color: #333;
}
input {
  width: 300px; height: 30px;
  margin: 10px 0;
  font-size: 12px;
  text-align: center;
  border: 1px solid #999;
  border-radius: 4px;
}
.css-b62m3t-container{
  width: 300px;
  margin: 10px auto;
}
.result {
  background-color: #333;
  color: white;
  border: none;
  margin: 50px 0;
}
.dot {
  width: 15px;
}